.form-wrapper {
    position: relative;
    border: 2px;
    width: 350px;
    height: 350px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
    box-shadow: 5px 5px 10px grey ;
}