.form-wrapper {
    position: relative;
    border: 2px;
    width: 350px;
    height: 350px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
    box-shadow: 5px 5px 10px grey ;
}

.formWrapper {
    text-align: center;
    justify-content: center;
    display:flex;
    padding: 90px 0 90px 0;
}

.container{
    color:black;
    height: 400px;
    width: 400px;
    box-shadow: 11px 12px 10px rgb(222, 237, 241) ;
    padding-top: 80px;
    border-radius:60px;
    background-color:rgb(255, 255, 255);
}

h2 {
    letter-spacing: 0.5px;
   
}

.subSentence{
    letter-spacing: 0.5px;
    font-size: 15px;
    padding-bottom: 5px
}

.formAction{
    height: max-height;
}

.email .password{
    padding: 10px;
}
.input {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 25px 0px rgb(218, 218, 218);
    margin: 5px;
    padding-left: 5px;
}

button{
    width: 150px;
    height: 40px;
    background-color:rgb(53, 152, 245);
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;    
} 
button:hover{
    background-color: rgb(49, 117, 206);
}

.btn{
    padding-top: 25px;
}

