.container{
    width: 100%;
    height:min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
} 

.contentWrapper{
    background-color: bisque;
    min-width: 300px;
    min-height: 500px;
    padding:50px;
    box-sizing: border-box;
    border-radius:10px;
} 

.success{
    padding: 100px 0px 0px 0px;
    color: rgba(235, 27, 131, 0.884);
}